* {
	font-family: Arial, Verdana, sans-serif;}
body {
	background-color: #C8C8C8;
	background-color: hsl(0,0%,78%);}
h1 {
	color: white;
	background-color: DarkCyan;}
h2 {
	color: white;
	background-color: #ee3e80;}
p {
	color: rgb(100,100,100);
	background-color: #ffffff;
	background-color: hsla(0,100%,100%,0.5);}